<!--There is a thing called "Template Inheritance"-->
<!--Repeated sections of HTML codes can be written here for more convenient management."-->

<!--
    To let a child template to override a specific section in a parent template,
        Use {% block something %}{% endblock%}
-->

{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Test Books{% endblock %}</title>
     <!--Google Font-->

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Caveat" rel="stylesheet">
    
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/app.css' %}">


  </head>
  <body>

    <!--adding a navigation bar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">The Perpetual Page</a>
        </div>
      </nav>

    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>