<!-- Insoo: Load universal stuff here -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Books</h1>

<table boarder="1">
    <thead>
        <tr>
            <th>Book</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>
                    <small style="color:black">{{book.description}}</small>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}