{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="d-grid gap-2">
            <br>
            <button type="submit" class="btn btn-outline-success">Change password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}